/* Poppins */
/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* Roboto */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Work Sans", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  background-color: #ced6e0;
  color: var(--white);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  place-items: center;
}

.main-wrapper {
  background-color: #57606f;
  padding: 2rem;
  text-align: center;
  width: fit-content;
}

.wrapper p {
  font-size: 2rem;
}

input {
  padding: 1.5rem;
  font-size: 2rem;
}

input::placeholder {
  font-size: 2rem;
}

.wrapper:nth-child(1) {
  margin-bottom: 2rem;
}

button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  color: var(--white);
  background-color: #005490;
  border: none;
}
